.scdiv{
    margin-top: 60px;
}
.Bdiv{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 117px
}
.Bdiv1{
    display: flex;
    justify-content: space-around;
    background: #699D06
}
.Bh1{
    text-align: center;
    color: #FFFFFF;

}
.sp{
    width: 148px;
    border: 2px solid white
}
.Bp{
    font-size: 22px;
    color: #FFFFFF
}
.btn{
    margin: 57px;
    background: white;
    color: black;
    font-size: 20px;
    padding: 14px 28px;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    
    background-color: rgb(154, 201, 240);
}

.sumdiv{
    text-align: center;
    background-image: url("./img/Nk.png");
    height: 607px;
    position: relative;
}
.sumdiv::after{
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(7, 6, 6, 0.53); 
}
.sumdiv1{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sm{
    color: #FFFFFF;
}
.Best1 {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.img{
    margin-bottom: 10px;
}
  .numbtn{
    margin-top: 10px;
    margin-left: 5px;
  }