.Id{
    display: flex;
    justify-content: space-around
}
.plantdiv{
    display: flex;
    margin-top: 19px;
    height: 42px;
}
.linka{
    text-decoration: none;
    color: black;
}
.planth{
    margin-top: 0;
}
.uli{
    width: 100%;
    display: flex;
    justify-content: space-evenly
}
.nv{
    width: 50%;
    margin-top: 30px;
}
.icondiv{
    width: 30px;
    height: 30px;
    
}
.icondiv2{
    background-color: #618916;

}
