.scdiv{
    margin-top: 60px;
}
.sp{
    width: 96px;
    border: 2px solid #699D06
}
.rec{
    text-align: center;
    font-size: 40px;
}
.uli{
   display: flex;
   gap:30px;
}
.dv{
    width: 1600px;
    display: flex;
    justify-content: space-between;
}
.Im{
    width: 350px;
    height: 400px;
}
.btn:hover {
    
    background-color: rgb(155, 49, 111);
}
.rating{
    display: flex;
    justify-content: center;
    height: 21px;
}
